.border {
  width: 500px;
  height: 900px;
  background-color: black;
  border-radius: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
#numbers {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.result {
  width: 400px;
  height: 100px;
}
.row-1 {
  display: flex;
  gap: 25px;
}
.row-2 {
  display: flex;
  gap: 25px;
}
.row-3 {
  display: flex;
  gap: 25px;
}
.row-4 {
  display: flex;
  gap: 25px;
}
.row-5 {
  display: flex;
  gap: 25px;
}
.light {
  background-color: rgb(197, 213, 213);
  width: 80px;
  height: 80px;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.orangee {
  background-color: orange;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.dark {
  background-color: grey;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
#zero {
  width: 185px;
  height: 80px;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  font-size: 30px;
}
#xxo {
  width: 390px;
  height: 50px;
  font-size: 30px;
  border-radius: 7px;
  border: none;
  background-color: black;
  display: flex;
  justify-content: end;
  color: white;
}
